.page-container {
    background-color: #E4E4E4;
    padding-bottom: 50px;
    height: 100%;
}

.post-btn {
    background-color: #B6D1D5 !important;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 3px 3px 3px grey;
}

.control-group {
    margin: 10px 0 20px 0;
}

input {
    border-radius: 5px;
    width: 300px;
    border-style: solid;
    height: 35px;
}

.help-block, ul {
    font-size: 14px;
}