.page-container {
    padding-bottom: 50px;
    height: 100%;
}

.control-group {
    padding-top: 20px;
    margin: 10px 0 10px 0;
}

input {
    width: 250px;
    height: 28px;
}

.page-container{
    text-align: center;
}

  