.page-container {
    padding-bottom: 50px;
    height: 100%;
    text-align:left;
}
/* 
.details-container {
    display: flex;
    justify-content: center;
} */

input {
    width: 250;
    height: 28px;
}
