<!DOCTYPE html>
<html lang="en">
<head>
  <title>ClassBook</title>
</head>

<body>
{% extends 'website/app_layout.html' %}
{% block content %}

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>ClassBook</h1>
  <p>ClassBook is a a platform for sharing study materials</p>
</div>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About ClassBook</h2>
    </div>
    <div class="col-sm-8">
    </div>
  </div>
</div>

{% endblock %}
</body>
