{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
</head>
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="page-container">
    <div class="container py-5">
        <h4>Hey Stranger!</h4>
        <div class="details-container">
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ sign_in_form|crispy }}
            <button class="btn btn-primary post-btn" type="submit">Sign in</button>
        </form>
        <div class="text-center">Not a member yet?</div>
        <a href="/users/sign_up">Create an account!</a>
    </div>
</div>
</body>
{% endblock %}