{% extends "sign_pages_layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/sign_in.css' %}">
</head>
<body>

<div class="page-container">
    <div class="container pt-5">
        <h1>Login</h1>
        <br>
        
        <form method="POST">
            {% csrf_token %}
            {{ sign_in_form|crispy }}
            <button class="btn btn-primary post-btn" type="submit">Sign in</button>
        </form>

        <div>Not a member yet?</div>
        <a href="/users/sign_up">Create an acconut</a>

        <div>Made a mistake?</div>
        <a href="/">Return Home</a>
    </div>
</div>
</body>
{% endblock %}