{% extends "sign_pages_layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
</head>
<body>

<div class="container">
        <br>
        <h1 ALIGN='center'>Sign Up</h1>
        <br>
        <h5 class="text-center">Already have an account? <a href="/users/sign_in">Login</a></h5>
     

        <form method="POST" ALIGN='center'>
            {% csrf_token %}
            {{ sign_up_form|crispy }}
            <button class="btn btn-primary post-btn" type="submit">Sign Up</button>
        </form>

       
        <br>
        <div>Made a mistake?</div>
        <a href="/">Return Home</a>
     
</div>
</body>
{% endblock %}